body {
        margin: 0;
        padding: 0;
        background-color: #000;
        background-image: url('../img/bg.png');
        background-size: 100%;
        width: 100%;
        background-attachment: fixed;
}

.logo{
     margin-top: 10px;
     
}

.header {
      height: 30px;
      text-align: center;
      background: #333;
      margin: 0 auto;
      color: red;
      font-size: 160%;
      font-family: cursive, serif, fantasy;
      font-weight: 900;
}

.outer {
      width: 90%;
      margin-top: 5px;
      margin-left: 10px;
}

.sidebar{
      width: 20%;
      float: left;
      height: 450px;
      color: white;
      background: rgba(0,0,0,0.3);
}

.content{
      margin-left:20px;
      margin-bottom:5px:
      width: 70%;
      float: left;
      height: 450px;
      color: white;
}

.footer{
      width: 110%;
      clear: left;
      float: bottom;
      height: 90px;
      background: #333;    
}

.filelist{
  list-style-type: circle;
  
  margin: 0px;

}


